<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Spark Price WebSocket Chart</title>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.1/sockjs.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@^4"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation@^3"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
  <script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-zoom/2.0.1/chartjs-plugin-zoom.min.js"></script>

  <script type="text/javascript" th:src="@{/js/websocket/fetch-ws-client.js}" ></script>
  <script type="text/javascript" th:src="@{/js/websocket/event-handler.js}" ></script>
  <script type="text/javascript" th:src="@{/js/websocket/sock-client.js}" ></script>
  <script type="text/javascript" th:src="@{/js/listener.js}" ></script>
  <script type="text/javascript" th:src="@{/js/chart.js}" ></script>
  <script type="text/javascript" th:src="@{/js/utils.js}" ></script>

  <link rel="stylesheet" type="text/css" th:href="@{/css/stylesheet-main.css}" />

</head>
<body>
<div class ="main-container">

  <div id="currency-options-wrapper">
    <select id="currency-selector"></select>
    <select id="currency-time-window-selector"></select>
    <select id="currency-tick-rate-selector"></select>
  </div>

  <div id="controls-wrapper">
    <button id="drag-zoom">DRAG ZOOM</button>
    <button id="color-mode">COLOR MODE</button>
    <button id="reset-zoom">RESET ZOOM</button>
  </div>

  <canvas id="chart" height="100vh" width="120vh"></canvas>

</div>
</body>
</html>
